.input{
    /* margin-right: 10px; */
    margin: 20px;
    
}

.mainlogin{
    margin: 0px auto;
    /* margin-left: 400px; */
    background-color: transparent;
    width: 500px;
    height: 500px;
}

.button{
    margin: 10px;
}